html, body {
    min-height: 100%;
}

body {
  text-align: center;
  background: rgb(255,255,255);
  background: linear-gradient(rgba(255,255,255,1) 0%, rgba(233,233,233,1) 100%);
}

.logo {
  margin: 4em 0 4em 0;
}

/*
 Social Links
 */
.social a {
  font-size: 4em;
  text-decoration: none;
  color: black;
  transition: transform .2s; /* Animation */
}

.social a:hover {
  color: #0076c0;
  transform: scale(1.5);
}
